header h1 {
    color: #1c5502;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: .5rem 1 rem;
    color: #eeeeee;
    background-color: #1c5502;
}

main h1 {
    clear: both;
}

main img {
    float: right;
}

footer {
    text-align: center;
    clear: both;
}